
/*************************************************
*----------  Web Framework  ---------------------*
*************************************************/

html {
	font-family: sans-serif;
}

body {
	height: 100%;
}

header {
	background-color: grey;
	color: white;
	padding: 18px 0px;
	text-align: center;
}

img {
	width: 128px;
	height: 64px;
	border: 1px solid steelblue;
}

footer {
	padding: 1px 4px;
	text-align: center;
	background-color: grey;
	color: white;
}

footer  li {
	font-size: small;
	margin: 0px 10px;
	display: inline-block;
}

input[name="password"], input[name="username"] {
	background-color: lightyellow;
	width: 90%;
	min-height: 25px;
}

input[type="submit"] {
	min-width: 50px;
	min-height: 2em;
	padding: 5px 10px;
	background-color: steelblue;
	cursor: pointer;
	border-radius: 5px;
	border: 0 none;
	font-weight: bold;
	color: white;
}


/*************************************************
*----------  index.php   ------------------------*
*************************************************/

#state_bar {
	text-align: right;
}

#login {
	min-width: 50px;
	min-height: 2em;
	padding: 5px 10px;
	background-color: steelblue;
	cursor: pointer;
	border-radius: 5px;
	border: 0 none;
	font-weight: bold;
	color: white;
}

#body {
	padding: 32px 0px 16px; 
}

#site_intro {
	width: 60%;
	margin: 0px auto;
	background-color: #eee;
	opacity: 0.6;
	padding: 0px 8px 2px;
}

#intro_title {
	color: white;
	background-color: steelblue;
	padding: 8px 4px;
}

#recent_news {
	width: 60%;
	margin: 32px auto 16px;
	background-color: #eee;
	opacity: 0.6;
	padding: 0px 8px 2px;
}

#news_title {
	color: white;
	background-color: steelblue;
	padding: 8px 4px;
}

#news_list {
	list-style-type: square;
}
	
#news_list > li {
	margin: 16px 0px;
}

#partner_imgs {
	width: 60%;
	margin: 32px auto 16px;
	background-color: #eee;
	opacity: 0.6;
	padding: 0px 8px 2px;
}

#img_title {
	color: white;
	background-color: steelblue;
	padding: 8px 4px;
}

#img_container {
	margin: 0px auto;
}

#img_container > img {
	display: inline-block;
	margin: 0px 8px;
}





/*************************************************
*----------  login.php   ------------------------*
*************************************************/

#login_form_container {
	max-width: 400px;
	margin: 20% auto;
	border: 2px solid grey;
	border-radius: 0.5em;
}

#login_header {
	background-color: steelblue;
	padding: 2px 0px;
	color: white;
}

#login_body {
	margin-left: 20px;
	font-size: 13px;
}

#login_form {
	margin-left: 20px;
	font-size: 13px;
}

/*intro_content {
	background-color: #eee;
	padding: 4px;
	opacity: 0.6;
}*/


/*nav {
	color: white;
	width: 200px;
	height: 500px;
	padding: 5px;
	float: left;
	border-width: 0;
	background-color: steelblue;	
}

nav p {
	margin-left: 10px;
}


nav li {
	font-size: small;
}

img {
	max-width: 150px;
	max-height: 100px;
}

section {
	float: left;
	padding: 10px;
	min-height: 120px;

}

footer {
	clear: both;
	padding: 2px;
	text-align: center;
	background-color: grey;
	color: white;
}

footer li {
	font-size: small;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}

*   Login page   *
#login_form_container {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	margin-bottom: 160px;
	border: 2px solid grey;
	border-radius: 0.5em;
}

#login_header {
	background-color: steelblue;
	color: white;
}

#login_body {
	margin-left: 20px;
	font-size: 13px;
}

#login_form {
	margin-left: 20px;
	font-size: 13px;
}

form {
	margin-left: 20px;
	font-size: 13px;
}



input[name="password"], input[name="username"] {
	background-color: lightyellow;
	width: 90%;
	min-height: 25px;
}*/

/*input[type="submit"] {
	padding: 5px 10px;
	background-color: lightgrey;
	cursor: pointer;
	border-radius: 5px;
	border: 0 none;
	font-weight: bold;
}*/

/*** *******************************************************

=======  project_mine.php ==================================

***********************************************************/

/*div.my_project_container {
	display: block;
	background-color: lightsteelblue;
}*/















*/*/